/target
*.pyc
*.obj
*.exe
*.log
*.bin
*.pyc
src/generated/__pycache__/bindings.cpython-312.pyc
compilation_error.txt
build
.venv

src/generated/__pycache__/bindings.cpython-312.pyc
build_err.txt
.gitignore
test_output.txt
cargo_warnings.txt
build_warnings.txt
build_cpp_err.txt
rust_test_out.txt
