# Standard library only needed for core functionality.
# Testing requires standard library 'unittest'.
# No 3rd party package dependencies for the demo.
# Listing development tools just in case.
pytest
pytest-cov
plantuml>=0.3.0
scapy
